body{
    text-align: center;
    background-color:rgb(191, 196, 197);
    color:black;
    font-family: 'Anton', sans-serif;
}

ul{
    list-style-type: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr{
    margin:2%;
}

